/* 
  
  */
#precoProdutoId{
    font-weight: bolder;
}

#preco{
    align-self: center;
}

#precoProduto{
    width:100px; 
    display: table-cell;
}

#qntdMin{
    align-self: center;
}

#qntdDisponivelDiv{
    margin-top: 22px;
}

#qntdDisponivel{
    width:100px; 
    display: table-cell;
}

.form-group {
    text-align: start;
}

.form-group label {
    font-weight: bolder;
    display: flex;
}

#qntdDisp{
    align-self: center;
}

#fotosProdutoDiv{
    margin-top: 30px;
}

#qntdMinima{
    width:100px; 
    display: table-cell;
}

/* 
 */

/* .btn {
    float: right;
} */

/* 
  */

.row .row-precoProduto {
    margin-left: 0;
}

.spanTag{
    align-self: center;
    background-color: lightgray;
    border: 1px solid lightslategrey;
    border-radius: 0.2rem;
    padding-bottom: 2%;
    padding-top: 2%;
}

.precoFreteProduto {
    width: 88%;
}

.coluna{
    padding-left: 0;
}

#dataVenc{
    margin-inline: auto!important;
}
  
/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #breadcrumb .breadcrumb-header {
        text-align: -webkit-left;
    }

    #breadcrumb .breadcrumb-tree {
        margin-top: 15px;
    }

    #dataVenc {
        margin-inline: initial!important;
    }

    .coluna>input{
        margin-bottom: 15px!important;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 575.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    #breadcrumb .breadcrumb-header {
        text-align: -webkit-left;
    }

    #breadcrumb .breadcrumb-tree {
        margin-top: 15px;
    }

    #dataVenc {
        margin-inline: initial!important;
    }

    .coluna>input{
        margin-bottom: 15px!important;
    }

    .corpo section .container .row {
        font-size: large;
    }

  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .corpo .main {
        margin-top: 12%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    #dataVenc {
        margin-inline: initial!important;
    }

    .corpo section .container .row {
        font-size: large;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .corpo .main {
        margin-top: 14%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    .form-group {
        font-size: x-large;
    }

    #breadcrumb .breadcrumb-tree li a{
        font-size: large;
    }

}

@media (min-width: 1200px) and (max-width: 1439.98px){
}

@media (min-width: 1440px) and (max-width: 2500.98px){

}

@media (min-width: 2501px) {

    .corpo{
        min-height: -webkit-fill-available!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: 100px;
    }

    #breadcrumb .breadcrumb-tree li a {
        font-size: 35px;
    }

}