/* table th{
    visibility: hidden!important;
    display: none!important;
} */

#form_carrinho{
    width: -webkit-fill-available;
}

#subTotal{
    color: red;
}

.checkBox-td{
    text-align: center!important; 
    vertical-align: middle!important;
}

.qntdDesejada{
    width:120px; 
    display: table-cell;
}

.buttonsTd{
    text-align: center; 
    vertical-align: middle;
}

#pagamento{
    float: right; 
    background-color: unset; 
    margin-top:20px
}

#pagamento h2 h3{
    display: inline;
}

#pagamento h2{
    float: left;
}

#pagamento h3{
    float: right;
    margin-right: 10px;
}

#pagamento button{
    width: -webkit-fill-available; 
    margin-top:10px;
}

.capa h1{
    font-size: xxx-large;
}

.capa img{
    width: 20%;
}

.capa button{
    margin-bottom: 60px; 
    margin-top: 20px;
}

.capa{
    text-align: center;
}

/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #removerCarrinho{
        position: absolute!important;
        margin-left: -265px!important;
        margin-top: 152px!important;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 539.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    #removerCarrinho{
        position: absolute!important;
        margin-left: -210px!important;
        margin-top: 152px!important;
    }
  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 540px) and (max-width: 600.98px) {
 }

 @media (min-width: 601px) and (max-width: 767.98px) { 
 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .corpo .main {
        margin-top: 12%!important;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .corpo .main {
        margin-top: 14%!important;
    }
 }

 /* large monitor*/
@media (min-width: 1200px) {  }