.basic-section{
    padding-bottom: 5%;
}

#loginBox{
    float: left;
    margin-bottom: 4%;
}

#loginBox h3{

}

#loginBox input{
    float: left;
    margin-top: 3%;
}

#loginBox .form-group{

}

#loginBox .form-group .form-control{
    
}

#cadastreBox{

}

#cadastreBox h5{
    margin-right: 2%;
    margin-block: auto;
}

#cadastreBox button{
}

#img_produtor{
    width: 70%;
}

@media (min-width: 300px) and (max-width: 767.98px) {

    .corpo .main{
        margin-top: 20%!important;
    }

    #loginBox .btn{
        float: none;
        margin-top: 5%;
    }

    .loginCol{
        width: auto!important;
        display: grid!important;
    }

    #cadastreBox button{
        margin-top: 4%;
        margin-inline: auto;
    }

    #cadastreBox {
        margin-top: 20%;
        display: inline-grid;
    }
    
    #colImg{
        position: fixed!important;
    }

    #cadastreBox h5 {
        margin-right: 2%;
        margin-block: unset;
    }
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
     .logoTop{
         margin: 0px;
     }
  }

  @media (max-width: 767.98px) { 
    #toggleButton {
        padding-left: 15px!important;
    }
 }

/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 575.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }
  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    #loginBox h3 {
        font-size: larger;
    }

    #cadastreBox h5 {
        font-size: large;
    }

    #cadastreBox button {
        font-size: large;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    .form-group {
        font-size: x-large;
    }

    #breadcrumb .breadcrumb-tree li a{
        font-size: large;
    }

    #loginBox input {
        font-size: large;
    }

    #cadastreBox h5 {
        font-size: large;
    }

    #cadastreBox button {
        font-size: large;
    }

}

@media (min-width: 1200px) and (max-width: 1439.98px){
}

@media (min-width: 1440px) and (max-width: 2500.98px){

}

@media (min-width: 2501px) {

    .corpo{
        min-height: -webkit-fill-available!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: 100px;
    }

    #breadcrumb .breadcrumb-tree li a {
        font-size: 35px;
    }

    #loginBox h3 {
        font-size: 70px;
    }

    #loginBox input {
        font-size: 50px;
    }

    #cadastreBox h5 {
        font-size: 50px;
    }

    #cadastreBox button {
        font-size: 50px;
    }

}