.d-flex {
    justify-content: center;
}

.tb_foto {
    text-align: center;
    vertical-align: middle!important;
}

.table-bordered td, .table-bordered th {
    border-bottom: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 1px solid #dee2e6!important;
}

.infosAnuncio {
    vertical-align: middle!important;
}

#foto_anuncio {
    width: 120px;
    height: 120px;
    border-radius: 1rem;
}

.capa h1{
    font-size: xxx-large;
}

.capa img{
    width: 20%;
}

.capa a button{
    margin-bottom: 60px; 
    margin-top: 20px;
}

/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #breadcrumb .breadcrumb-header {
        text-align: -webkit-left;
    }

    #breadcrumb .breadcrumb-tree {
        margin-top: 15px;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 575.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    #breadcrumb .breadcrumb-header {
        text-align: -webkit-left;
    }

    #breadcrumb .breadcrumb-tree {
        margin-top: 15px;
    }
    .corpo section .container .row {
        font-size: large;
    }

    #foto_anuncio {
        visibility: hidden;
    }

  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .corpo .main {
        margin-top: 12%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    .corpo section .container .row {
        font-size: large;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .corpo .main {
        margin-top: 14%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    #breadcrumb .breadcrumb-tree li a{
        font-size: large;
    }

}

@media (min-width: 1200px) and (max-width: 1439.98px){
}

@media (min-width: 1440px) and (max-width: 2500.98px){

}

@media (min-width: 2501px) {

    .corpo{
        min-height: -webkit-fill-available!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: 100px;
    }

    #breadcrumb .breadcrumb-tree li a {
        font-size: 35px;
    }

}