/* 
    Corpo
*/

.myAccountBtn{
    width: 127px;
}

#myAccountBtnCarrinho{
    height: 62px
}



.corpo{
    text-align: start!important;
}

.corpo .main{
    margin-top: 10%;
}

.corpo section .container {
    padding-bottom: 3%!important;
}
/* 
 */

#DadosConta-col {
    display: inline-flex;
    border-right: 1px solid lightgray;
}

#Foto_perfil {
    width: 30%;
    height: 50%;
    border-radius: 2rem;
}

.img_aval {
    width: 20%;
}

#DadosConta-col #dadosUser {
    margin-left: 7%;
    text-align: left;
}

#historicoCompraVenda-col {
    margin-left: 5%;
}

.histBtn{
    font-weight: bolder;
    margin-bottom: 3%;
    color: black;
    border-color: #3BBF1B;
}

.histBtn:hover{
    color: white;
    background-color: #3BBF1B;
    border-color: white;
}

.nav-link img{
    width: 50%;
}

.link-img{
    text-align: center;
}

.deslogar {
    background-color: transparent;
    border: none;
    color: white;
}

.deslogar:hover {
    color: #3bbf1b;
    text-decoration: none;
}

#dropDelosg{
    font-size: 0.7rem;
    text-align-last: center;
}

#endUserMap{
    text-decoration: none;
    color: currentColor;
}

#endUserMap:hover{
    color: #3bbf1b;
}

@media (min-width: 300px) and (max-width: 767.98px) {
    
    #DadosConta-col {
        padding: 0%;
        display: block;
    }
    #DadosConta-col img {
        width: 80%;
        height: 40%;
        margin-right: 20%;
    }

    #DadosConta-col #dadosUser{
        margin-top: 7%;
    }

    .nav-link img{
        width: 70%;
    }
}

  
/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #anuncieAqui{
        width: 90px;
    }

    #Foto_perfil {
        height: 37%;
    }

    #DadosConta-col img {
        width: 90%;
        height: 19%;
    }

    .img_aval {
        width: 75%!important;
        height: 20px!important;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 575.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    #anuncieAqui{
        width: 90px;
    }

    #Foto_perfil {
        height: 37%;
    }

    #DadosConta-col img {
        width: 90%;
        height: 19%;
    }

    .img_aval {
        width: 75%!important;
        height: 20px!important;
    }

    .btn-secondary {
        font-size: 18px!important;
    }

    section{
        font-size: larger!important;
    }
  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .corpo .main {
        margin-top: 12%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    #anuncieAqui{
        width: 122px;
    }

    #Foto_perfil {
        height: 37%;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .corpo .main {
        margin-top: 14%!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: xx-large;
    }

    .form-group {
        font-size: x-large;
    }

    #breadcrumb .breadcrumb-tree li a{
        font-size: large;
    }

}

@media (min-width: 1200px) and (max-width: 1439.98px){
    .histBtn {
        width: 200px!important;
        height: 40px!important;
    }

    #anuncieAqui{
        width: 200px;
    }

    #Foto_perfil {
        width: 40%;
        height: 45%;
    }

    #DadosConta-col {
        margin-left: 40px;
    }
}

@media (min-width: 1440px) and (max-width: 2500.98px){
    .histBtn {
        width: 200px!important;
        height: 100px!important;
    }

    #anuncieAqui{
        width: 200px;
    }

    #Foto_perfil {
        width: 40%;
        height: 35%;
    }

    #DadosConta-col {
        margin-left: 40px;
    }

    .img_aval {
        width: 35%;
    }

}

@media (min-width: 2501px) {

    .corpo{
        min-height: -webkit-fill-available!important;
    }

    #breadcrumb .breadcrumb-header {
        font-size: 100px;
    }

    #breadcrumb .breadcrumb-tree li a {
        font-size: 35px;
    }

}