.d-flex {
    justify-content: center;
}

.table-bordered td, .table-bordered th {
    border-bottom: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 1px solid #dee2e6!important;
}

#foto_produto {
    width: 120px;
    height: 120px;
    border-radius: 1rem;
}

.td-transacoes {
    padding-top: 30px!important;
}

.tb_foto {
    text-align: center;
}

.tb-transacoes{
    display: table-row;
}

.capa h1{
    font-size: xxx-large;
}

.capa img{
    width: 20%;
}

.capa a button{
    margin-bottom: 60px; 
    margin-top: 20px;
}



/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 410px) {
    .corpo .main {
        margin-top: 21%!important;
    }
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 575.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    .corpo section .container {
        max-width: 700px!important;
    }

    #foto_produto {
        visibility: hidden;
    }
  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }
    .corpo section .container {
        max-width: 700px!important;
    }

    #foto_produto {
        width: 233px;
        height: 120px;
    }
 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .corpo .main {
        margin-top: 12%!important;
    }
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .corpo .main {
        margin-top: 14%!important;
    }
 }

 /* large monitor*/
@media (min-width: 1200px) {  }