.d-flex {
    justify-content: center;
}

.table-bordered td, .table-bordered th {
    border-bottom: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 1px solid #dee2e6!important;
}

#foto_produto {
    width: 120px;
    height: 120px;
    border-radius: 1rem;
}

.td-transacoes {
    padding-top: 30px!important;
}

.tb_foto {
    text-align: center;
}

.tb-transacoes{
    display: table-row;
}

.capa h1{
    font-size: xxx-large;
}

.capa img{
    width: 20%;
}

.capa a button{
    margin-bottom: 60px; 
    margin-top: 20px;
}



 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {  }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }