*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.form-group button{
    min-width: 177px;
    min-height: 38px;
}

/* product */
.content{
    margin: 0 auto;
    max-width: fit-content;
}

.cover{
    float: left;
    width: 100%;
    border: 2px solid #eee;
}

.cover img{
    inline-size: -webkit-fill-available;
    max-height: 400px;
    min-width: 648px;
    min-height: 400px;
}

/* product-small-img */
.thumbs{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.thumbs li{
    float: left;
    width: 100%;
    border: 2px solid #ccc;
    width: calc((100% - 10%) / 6);
    cursor: pointer;
}

.thumbs li:not(:last-child){
    margin-right: 2%;
}

.thumbs li:hover{
    border: 2px solid orange;
}

#tp-venda{
    align-self: center;
}

.thumbs li img{
    width: 120px;
    height: 96px;
}

.smallInfos{
    color: #8c8c8c;
    font-size: small;
}

.infos-compra{
    border: 1px solid rgba(0,0,0,.2);
}

table{
    border-radius: 1rem;
}

.caracteristica-span img{
    width: 5%;
}

#tr-datas img{
    width: 10%;
}

.td-left{
    width: 50%; 
    float:left;
}

.td-right{
    width: 50%; 
    float: right;
}

.img_aval{
    width: 20%;
}

#frete{
    width: 10%;
}

.form-group{
    display: inline-flex!important;
}

.form-group label{
    margin-top: auto;
}

#qntd-td{
    margin-top: 14px;
    inline-size: auto;
    margin-right: 30px;
}

.form-group input{
    font-weight: 900;
    width: auto;
}

.form-group span{
    font-weight: 900;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {  }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }