*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.form-group button{
    min-width: 177px;
    min-height: 38px;
}

/* product */
.content{
    margin: 0 auto;
    max-width: fit-content;
}

.cover{
    float: left;
    width: 100%;
    border: 2px solid #eee;
}

.cover img{
    inline-size: -webkit-fill-available;
    max-height: 400px;
    min-width: 648px;
    min-height: 400px;
}

/* product-small-img */
.thumbs{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.thumbs li{
    float: left;
    width: 100%;
    border: 2px solid #ccc;
    width: calc((100% - 10%) / 6);
    cursor: pointer;
}

.thumbs li:not(:last-child){
    margin-right: 2%;
}

.thumbs li:hover{
    border: 2px solid orange;
}

#tp-venda{
    align-self: center;
}

.thumbs li img{
    width: 120px;
    height: 96px;
}

.smallInfos{
    color: #8c8c8c;
    font-size: small;
}

.infos-compra{
    border: 1px solid rgba(0,0,0,.2);
}

table{
    border-radius: 1rem;
}

.caracteristica-span img{
    width: 5%;
}

#tr-datas img{
    width: 10%;
}

.td-left{
    width: 50%; 
    float:left;
}

.td-right{
    width: 50%; 
    float: right;
}

.img_aval{
    width: 20%;
}

#frete{
    width: 10%;
}

.form-group{
    display: inline-flex!important;
}

.form-group label{
    margin-top: auto;
}

#qntd-td{
    margin-top: 14px;
    inline-size: auto;
    margin-right: 30px;
}

.form-group input{
    font-weight: 900;
    width: auto;
}

.form-group span{
    font-weight: 900;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {  }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }



/* MARGIN TOP PAGE */

/* Low cust smartphones */
/* Devices: G4/S5/Iphone 5,6,7,8, X */
@media (min-width: 300px) and (max-width: 321px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #rowProduto{
        height: 2000px;
    }

    #tb-caracteristicaProd{
        position: absolute;
        margin-top: 1305px;
        margin-left: 0px;
        width: 259px;
    }

    #tb-descricao{
        position: absolute;
        margin-left: 0px;
        margin-top: 1564px;
        width: 259px;
    }

    #tb-perguntas{
        visibility: hidden;
    }

    .cover img{
            min-width: 200px;
            min-height: 240px;
    }  

    .thumbs li img {
        height: 60px;
    }

    #tb-ProdutoPrice{
        position: absolute;
        margin: 0px;
        padding: 0px;
        margin-left: 14px;
        width: 259px;
        margin-top: 360px;
    }

    #qntd-td {
        inline-size: auto;
        margin-right: 168px;
    }

    .caracteristica-span img {
        width: 10%;
    }


    #tr-datas img {
        width: 24%;
    }
    
}

@media (min-width: 321px) and (max-width: 409.98px) {
    .corpo .main {
        margin-top: 21%!important;
    }

    #rowProduto{
        height: 2400px;
    }

    #tb-caracteristicaProd{
        position: absolute;
        margin-top: 1390px;
        margin-left: 0px;
        width: 310px;
    }

    #tb-descricao{
        position: absolute;
        margin-left: 0px;
        margin-top: 1664px;
        width: 310px;
    }

    #tb-perguntas{
        visibility: hidden;
    }

    .cover img{
            min-width: 300px;
            min-height: 340px;
    }  

    .thumbs li img {
        height: 80px;
    }

    #tb-ProdutoPrice{
        position: absolute;
        margin: 0px;
        padding: 0px;
        margin-left: 14px;
        width: 310px;
        margin-top: 453px;
    }

    #qntd-td {
        inline-size: auto;
        margin-right: 168px;
    }

    .caracteristica-span img {
        width: 10%;
    }


    #tr-datas img {
        width: 24%;
    }
    
}

/* Medium cust smartphones */
/* Devices: Pixel 2, XL/Iphone 6 Plus, 7 Plus, 8 Plus/ Surface Duo */
 @media (min-width: 410px) and (max-width: 539.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    .dropdown-menu {
        left: -690%;
    }

    .table {
        font-size: larger;
    }

    .img_aval {
        width: 28%;
    }

    .infos-compra{
        font-size: x-large;
    }

    .smallInfos {
        font-size: large;
    }

    .form-group button {
        font-size: inherit;
    }

    #rowProduto{
        height: 2400px;
    }

    #frete {
        width: 15%;
    }

    #tb-caracteristicaProd{
        position: absolute;
        margin-top: 1500px;
        margin-left: 0px;
        width: 310px;
        font-size: large;
    }

    #tb-descricao{
        position: absolute;
        margin-left: 0px;
        margin-top: 1780px;
        width: 310px;
        font-size: large;
    }

    #tb-perguntas{
        visibility: hidden;
    }

    .cover img{
            min-width: 300px;
            min-height: 340px;
    }  

    .thumbs li img {
        height: 80px;
    }

    #tb-ProdutoPrice{
        position: absolute;
        margin: 0px;
        padding: 0px;
        margin-left: 14px;
        width: 310px;
        margin-top: 453px;
    }

    #qntd-td {
        inline-size: auto;
        margin-right: 168px;
    }

    .caracteristica-span img {
        width: 10%;
    }


    #tr-datas img {
        width: 24%;
    }
  }

/* High and Medium cust smartphones */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 540px) and (max-width: 767.98px) { 
    .corpo .main {
        margin-top: 17%!important;
    }

    .dropdown-menu {
        left: -690%;
    }

    .table {
        font-size: larger;
    }

    .img_aval {
        width: 28%;
    }

    .infos-compra{
        font-size: x-large;
    }

    .smallInfos {
        font-size: large;
    }

    .form-group button {
        font-size: inherit;
    }

    #rowProduto{
        height: 2400px;
    }

    #frete {
        width: 15%;
    }

    #tb-caracteristicaProd{
        position: absolute;
        margin-top: 1600px;
        margin-left: 0px;
        width: 310px;
        font-size: large;
    }

    #tb-descricao{
        position: absolute;
        margin-left: 0px;
        margin-top: 1880px;
        width: 310px;
        font-size: large;
    }

    #tb-perguntas{
        visibility: hidden;
    }

    .cover img{
            min-width: 300px;
            min-height: 340px;
    }  

    .thumbs li img {
        height: 80px;
    }

    #tb-ProdutoPrice{
        position: absolute;
        margin: 0px;
        padding: 0px;
        margin-left: 14px;
        width: 310px;
        margin-top: 553px;
    }

    #qntd-td {
        inline-size: auto;
        margin-right: 168px;
    }

    .caracteristica-span img {
        width: 10%;
    }


    #tr-datas img {
        width: 24%;
    }
 }

/* Tablets */
/*  Ipad 1, 2, Pro  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .cover img {
        min-width: auto;
    }

    #qntd-td {
        margin-top: -20px;
        margin-right: 126px;
    }
    
}

 /* Standart monitor*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .corpo .main {
        margin-top: 14%!important;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1439.98px){
}

@media (min-width: 1440px) and (max-width: 2500.98px){
}

@media (min-width: 2501px) {
}