/* =============== Estrutruas Gerais ===============*/

/* Grid content */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: url(../img/capa/CapaEscura.png), url(../img/capa/ruido.png), linear-gradient(50deg, black, lightgray);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    background-position: center;
    position: relative;
    background-size: cover;
    /* background-size: 100% 100%; */
    font-family: Helvetica, Arial, sans-serif;
}

.caixa {
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn {
    align-self: stretch;
}

footer {
    color: white;
}

img {
    image-rendering: auto;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

.isDisabled>a {
    color: currentColor;
    display: inline-block;
    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

/* .corpo .main{
    min-height: 794px!important;
} */

/* =============== Nav ===============*/

/* estilo da navbar */

nav.navbar-style {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

/* Cor dos links da navbar */

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* Links da navbar ao passar o mouse */

.navbar-light .navbar-nav .nav-link:hover {
    color: #3bbf1b;
}

/* =============== Logo ===============*/

.navbar-brand img {
    width: 40%;
}

/* =============== Menu Toogle ===============*/

.navbar-collapse {
    flex-grow: 0;
}

/* =============== Nav-principal ===============*/

.nav-item {
    margin: auto;
}

.nav-link:hover {
    color: #3bbf1b;
}

.divisor {
    width: 1px;
    margin: 12px 15px;
    background: white;
}

/*================ SearchBar*/

.form-inline .form-control {
    display: inline-block;
    width: 50ch;
    vertical-align: middle;
}

.form-inline {
    width: auto;
    margin: auto;
}

/*================ Carrinho*/

.dropdown {
    margin: 0;
    padding: 20px;
}

.car_button {
    background-color: transparent;
    border: none;
    color: white;
}

.car_button:hover {
    color: #3bbf1b;
    text-decoration: none;
}

.car_button>i {
    margin-left: 25px;
}

#total {
    font-weight: bolder;
    pointer-events: none;
}

#checkout {
    font-weight: bolder;
    color: red;
    text-align: center;
    background-color: lightgray;
    width: fit-content;
    border-radius: 0.5rem;
    margin-inline: auto;
}

/*================ SideNav */

.mySidenav-link i {
    margin-right: 5px;
}

#mySidenav {
    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 0px 20px 20px 0px;
}

/* =============== Corpo =============== */

.corpo {
    width: 100%;
    min-height: 960px;
    text-align: -webkit-center;
}

.corpo .main {
    width: 100%;
    margin-top: 11%;
    border-radius: 1rem;
    background-color: whitesmoke;
    opacity: 0.88;
}

.corpo section .container {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.corpo section .container .row {
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid red; */
}

/* =============== Breadcumb  */

.breadcrumb {
    background-color: unset;
}

.breadcrumb-item a {
    color: #8c8c8c;
}

#breadcrumb {
    padding: 30px 0px;
    background: #FBFBFC;
    border-bottom: 1px solid #E4E7ED;
    margin-bottom: 30px;
    text-align-last: left;
}

#breadcrumb .container {
    margin-left: 0;
}

#breadcrumb .breadcrumb-header {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

#breadcrumb .breadcrumb-tree {
    display: inline-block;
}

#breadcrumb .breadcrumb-tree li {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

#breadcrumb .breadcrumb-tree li+li {
    margin-left: 10px;
}

#breadcrumb .breadcrumb-tree li+li:before {
    content: '/';
    display: inline-block;
    color: #8D99AE;
    margin-right: 10px;
}

#breadcrumb .breadcrumb-tree li a {
    color: #8D99AE;
    text-decoration: none;
}

#breadcrumb .breadcrumb-tree li a:hover {
    color: #3BBF1B;
}

/* =============== Footer ===============*/

#logoFooter {
    align-self: center;
}

.colBuscados {
    padding-left: 0;
}

#colBuscadosD{
    float: right;
}


#colBuscadosE{
    float: left;
}

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
}

footer img {
    width: 50%;
}

footer .col-md-6 {
    align-self: center;
}

footer .col-md-6 img {
    width: 100%;
}

.colBuscados1 {
    float: left;
}

.colBuscados2 {
    float: right;
}


.tableCarrinho{
    border-bottom: 1px dashed black;
}

.tdCarrinhoPrecoProd{
    padding-left: 2px; 
    padding-right: 2px;
}

.tdCarrinhoPrecoTotal{
    text-align-last: right;
}

.redesSociaisCol{
    margin-top: 20px;
}

.dropdown-menu.show {
    width: max-content!important;
}

/* =============== responsive ===============*/

/*------------------------ Commons */

@media (max-width: 1200px) {
    /* Container dentro da Navbar */
    .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
        justify-content: flex-start;        
    }
    
/* Dropdown do carrinho */
    .dropdown {
        padding: 0;
    }

    .corpo .main {
        margin-top: 29%;
    }

    footer .navbar-nav a {
        font-size: 1.2em;
    }

    #searchBarTop {
        font-family: auto!important;
    }

    #logoFooter {
        text-align: center;
    }
    
    .car_button {
        margin-left: 0px;
    }

    .rodapeCol {
        margin-top: 15px;
    }
    
}

@media (min-width: 351px) and (max-width: 539.98px){

    #searchBarTop {
        margin-left: 20px!important;
    }

}

@media (min-width: 351px) and (max-width: 1199.98px){

    /* posicionamento do dropdown do carrinho */
    .dropdown-menu {
        left: -550%;
    }
}

@media (min-width: 540px) and (max-width: 1199.98px){

    /* tamanho do espaÃ§o da searchBar */
    .form-inline .form-control {
        width: 30ch;
    }

    .rodapeCol {
        margin-left: 75px;
        inline-size: auto;
    }

    #toggleButton {
        /* padding-right: 2px;
        padding-left: 20px; */
        padding-right: 2px;
        padding-left: 10px;
        margin-right: 3%;
    }

    .car_button>i {
        margin-left: 0px;
    }
}

@media (max-width: 767.98px){
    
    /* Dropdown do carrinho */
    .dropdown {
        margin-right: 5%;
    }

}

@media (max-width: 410.98px){

}

@media (max-width: 539.98px){

    #toggleButton {
        padding-right: 2px;
        padding-left: 0px;
    }

    .car_button>i {
        margin-left: 0px;
        font-size: large;
    }

    .rodapeCol {
        margin-left: 30px;
    }

}

@media (min-width: 767.99px) and (max-width: 1199.98px){
    .navbar-light .navbar-nav .nav-link {
        width: max-content;
    }

    nav.navbar-style {
        padding: 25px 0px;
        font-size: x-large;
    }

    .dropdown-menu {
        font-size: x-large;
    }

    .top-container{
        font-size: large;
    }

}

@media (min-width: 767.98px) and (max-width: 991.98px){
    nav.navbar-style {
        width: -webkit-fill-available;
        font-size: medium!important;
    }
}

/*------------------------ /Commons */

/*------------------------ Individuals style */

@media (max-width: 350.98px) {

    /* posicionamento do dropdown do carrinho */
    .dropdown-menu {
        left: -555%;
    }

    /* tamanho do espaÃ§o da searchBar */
    .form-inline .form-control {
        width: 20ch;
    }

    #searchBarTop {
        margin-left: 10px!important;
    }
    
    .redesSociaisCol {
        margin-right: 15.5%;
    }
}

@media (min-width: 351px) and (max-width: 410.98px) {

    /* tamanho do espaÃ§o da searchBar */
    .form-inline .form-control {
        width: 23ch;
    }

    .redesSociaisCol {
        margin-right: 20.5%;
    }


    .dropdown {
        margin-right: 4%!important;
    }

    #searchBarTop {
        margin-left: 10px!important;
    }
}



@media (min-width: 411px) and (max-width: 539.98px) {

    /* tamanho do espaÃ§o da searchBar */
    .form-inline .form-control {
        inline-size: max-content;
    }

    .rodapeCol {
        inline-size: min-content;
    }

    .redesSociaisCol {
        margin-right: 25%;
    }

    .dropdown-menu.show {
        font-size: large;
    }

    .dropdown-menu {
        left: -575%;
    }

}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 540px) and (max-width: 767.98px) {

    #searchBarTop {
        margin-left: 35px!important;
    }

    .redesSociaisCol {
        margin-right: 29%;
    }
}

/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {

    .corpo .main {
        margin-top: 14%!important;
    }

    nav.navbar-style{
        padding: 25px 0px;
    }

    .navbar-brand{
        display: none;
    }

    /* Dropdown do carrinho */
    .dropdown {
        margin-right: 2%;
        margin-left: 2%;
        min-width: max-content;
    }

    #searchBarTop {
        margin-left: 15px!important;
        flex-flow: row;/* font-size: large; */
    }

    #searchBarTop input{
        font-size: large!important;
    }
    
    footer img{
        width: auto;
    }

    .redesSociaisCol {
        margin-left: 15%;
    }

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {

    .corpo .main {
        margin-top: 14%!important;
    }

    .corpo{
        min-height: -webkit-fill-available!important;
    }

    nav.navbar-style{
        padding: 25px 0px;
    }

    .navbar-brand img {
        width: 100%!important;
    }

    /* Dropdown do carrinho */
    .dropdown {
        margin-right: 2%;
        margin-left: 2%;
        min-width: max-content;
    }

    #searchBarTop {
        margin-left: 15px!important;
        flex-flow: row;
    }
    
    footer img{
        width: auto;
    }

    .redesSociaisCol {
        margin-left: 13%;
    }
    
    .top-container{
        font-size: x-large;
    }

    .form-control {
        font-size: unset;
    }

    button, input {
        overflow: visible;
    }

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1439.98px){

    nav.navbar-style {
        inset-inline-end: auto;
        width: -webkit-fill-available;
    }

    .form-inline .form-control {
        width: 30ch;
    }

    .form-inline {
        flex-flow: row;
    }

    .top-container{
        min-width: -webkit-fill-available;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media (min-width: 1440px) and (max-width: 2500.98px){

    .corpo .main {
        margin-top: 10%!important;
    }

    html{
        font-size: x-large;
    }

    .top-container{
        display: contents!important;
    }

    .navbar-brand {
        margin-left: 5%;
    }

    .form-inline .form-control {
        width: 30ch;
    }

    #nav-principal{
        margin-right: 5%;
    }
}

@media (min-width: 2501px) {

    .corpo .main {
        margin-top: 9%!important;
    }

    html{
        font-size: xx-large;
    }

    nav.navbar-style {
        inset-inline-end: auto;
        width: -webkit-fill-available;
    }

    .form-inline .form-control {
        width: 30ch;
    }

    .form-inline {
        flex-flow: row;
    }

    .top-container{
        min-width: -webkit-fill-available;
        margin-right: 5%;
        margin-left: 5%;
        font-size: larger;
    }

    .rodapeCol{
        margin-left: 10%;
    }

    footer .container > .row{
        flex-wrap: inherit;
        place-content: center;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: fit-content;
    }

    #logoFooter{
        min-width: 500px;
    }

    .navbar-brand img {
        width: 70%;
    }

    footer{
        font-size: xxx-large;
    }

    footer ul li {
        float: right;
        margin-right: 50px;
    }

    footer .col-md-6 img {
        width: 135%;
    }
}		